{% for source in site.data.issues.source %}
  <{{include.header | default: 'h2' }} id="{{ source.id | default: source.name | slugify }}">{{ source.name }}</{{include.header | default: 'h2' }}>
  <ol>
    {% for issue in source.issues %}
    <li><strong>Issue</strong>: {{ issue.problem | markdownify | remove: '<p>' | remove: '</p>' }}
      {% if issue.solution or issue.fixed_in or issue.workaround %}
        <ul>
          {%if issue.workaround %}
            <li><strong>Workaround</strong>: {{ issue.workaround | markdownify |  remove: '<p>' | remove: '</p>' }}</li>
          {% elsif issue.solution %}
            <li><strong><u>Solution</u></strong>: {{ issue.solution | markdownify |  remove: '<p>' | remove: '</p>' }}</li>
          {% endif %}
          {% if issue.fixed_in %}
            <small><i>Fixed In: {{ issue.fixed_in }}</i></small>
          {% endif %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
{% endfor %}
