.bigpage {

  .page__inner-wrap {
    float: inline-start;
    margin-top: 1em;
    margin-inline: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: inline-start;
      margin-inline: 0;
      width: 100%;
      clear: both;
    }
  }
  
  @media (min-width: 1400px) {
    .sidebar__right {
      position: sticky !important;
      float: right !important;
    }
  }
}

.feature_drop {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.37));
  position: relative;
}

.no_feature_wrap_border {
  border: 0 !important;
}