.marquee-area {
  @include clearfix;
  color: #f5f5f5;
  margin-top: 50px;
  display: block;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1em;
  @include breakpoint($x-large) {
    max-width: $max-width;
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
}

.marquee-nobottom {
  padding-bottom: 0 !important;
}

.line-spacer {
  border-bottom: 1px solid #51555d;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
  will-change: transform;
  animation: scroll 15.2s linear infinite;
  animation-delay: 0s;
  list-style: none;
}
.marquee-content > * {
  flex: 0 0 auto;
  font-weight: bold;
  margin: 2px;
  padding: 1rem 2rem;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}