.taxonomy__index strong, .p-category, .taxonomy__section .archive__subtitle {
  text-transform: capitalize !important;
}

.hidden {
  display: none;
}

.toc .nav__title, .form-submit {
  font-size: 1em !important;
}

.notice--success {
  a {
    color: $link-color;
  }
  a:hover {
    color: white !important;
  }
  a:visited {
    color: $link-color-visited;
  }
}

.feature_drop {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.37));
  position: relative;
}

.no_feature_wrap_border {
  border: 0 !important;
}

.quick-bottom {
  margin-bottom: 10px !important;
}
