.taxonomy__index strong, .p-category, .taxonomy__section .archive__subtitle {
  text-transform: capitalize !important;
}

.hidden {
  display: none;
}

.toc .nav__title, .form-submit {
  font-size: 1em !important;
}

.notice--success {
  a {
    color: $link-color;
  }
  a:hover {
    color: white !important;
  }
  a:visited {
    color: $link-color-visited;
  }
}
