.bigpage {
  .page__inner-wrap {
    float: inline-start;
    margin-top: 1em;
    margin-inline: 0;
    width: 100%;
    clear: both;

    .page__content,
    .page__meta,
    .page__share {
      position: relative;
      float: inline-start;
      margin-inline: 0;
      width: 100%;
      clear: both;
    }
  }
  
  @media (min-width: 1400px) {
    .sidebar__right {
      position: sticky !important;
      float: right !important;
    }
  }
}

.docs, .setup {
  overflow-x: hidden;
}

.toc .active a {
  background-color: #4EA1CE;
}

/* Flexible CSS sliding */
@media (max-width: 1920px) {
  .setup #main, .docs #main {
    margin-inline: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .setup #main, .docs #main {
    margin-inline: initial !important;
    padding-left: 20px;
  }
}

@media (min-width: 1470px) and (max-width: 1920px) {
  .setup #main, .docs #main {
    max-width: 82% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1470px) {
  .setup #main, .docs #main {
    max-width: 80% !important;
  }
}
